<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Productos</title>
    {{ style('style') }}
</head>
<body>
    <section>
        <div class="subtitle">
            <h1>PRODUCTO</h1>
            <p>Nombre: {{ producto.nombre }}</p>
            <p>Descripcion: {{ producto.descripcion }}</p>
            <p>Precio: {{ producto.precio }}</p>
            <p>Stock: {{ producto.stock }}</p>
        </div>
    </section>
</body>
</html>